@using SharpLib.Model.Common
@using SharpLib.Model.Excell

@using SharpLib.Model.Upload
@using SharpLib.Model.Template

@model ResponseModel<List<ServerFileVM>>

@if (Model.ProcessStatus)
{
    <span style="color:green">İşlem Başarılı</span>
}
else
{
    <span style="color:red">@Model.Message</span>
}